<%= render 'shared/notice' %>
<dl class="dl-horizontal" data-attr="name">
  <dt>Name:</dt>
  <dd><%= @artist.name %></dd>
</dl>
<dl class="dl-horizontal" data-attr="albums">
  <dt>Albums:</dt>
  <dd>
    <ul class="artist-albums list-group">
      <% @artist.albums.order(:year,:name).each do |album| %>
        <li class="list-group-item">
          <%= link_to album.name, album %>
          <% if album.year %>
            <%= " (#{album.year})" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
