<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @song.album ? link_to(@song.album.name,@song.album) : nil %>
</p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Track:</strong>
  <%= @song.track %>
</p>

<p>
  <strong>Disk:</strong>
  <%= @song.disk %>
</p>

<p>
  <strong>Duration:</strong>
  <%= song_duration @song.duration %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
