<div class='show-album'>
  <dl class="dl-horizontal" data-attr="artist">
    <dt>Artist:</dt>
    <dd><%= @album.artist ? link_to(@album.artist.name,@album.artist) : nil %></dd>
  </dl>

  <dl class="dl-horizontal" data-attr="name">
    <dt>Name:</dt>
    <dd><%= @album.name %></dd>
  </dl>

  <dl class="dl-horizontal" data-attr="year">
    <dt>Year:</dt>
    <dd><%= @album.year %></dd>
  </dl>

  <dl class="dl-horizontal" data-attr="photo_url">
    <dt>Photo:</dt>
    <dd style="max-width:400px;"><%= @album.photo_url && @album.photo_url!='' ? image_tag(@album.photo_url,class: 'img img-responsive img-rounded') : nil %></dd>
  </dl>
  <dl class="dl-horizontal" data-attr="songs">
    <dt>Songs:</dt>
    <dd>
      <ul class="album-songs list-group">
        <% @album.songs.order(:disk,:track,:name).each do |song| %>
          <li data-song-id="<%= song.id -%>" class="list-group-item">
            <%= "#{song.disk} - " unless song.disk.blank? %>
            <%= "%02d" % song.track %> - 
            <%= link_to song.name, song %>
          </li>
        <% end %>
      </ul>
    </dd>
  </dl>

  <%= link_to 'Edit', edit_album_path(@album) %> |
  <%= link_to 'Back', albums_path %>
</div>
